:root {
    --primary: #fff;
    --ivory:#f9f8eb;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;
    color: white;
}



.btn:hover {
    background: #cfb840;
    color: #242424;
    transition: 250ms;
}

/* contact button  */
.contact-btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #242424;;
    color:#fff;
    margin-bottom: 10px;
}

.contact-btn:hover {
    background: #cfb840;
    color: #242424;
    transition: 250ms;
    border-color:#cfb840;
}

.btn--primary{
background-color: var(--primary);
color: #242424;
border: 1px solid var(--primary);

}

.btn--outline{
background-color: transparent;
color: #fff;
padding: 8px 20px;
border: 1px solid var(--primary);
transition: all 0.3s ease-out;

}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, 
.btn--large:hover {
background: #fff;
color: #242424;
transition: all 0.3s ease-out;
}
