.footer-container {
    background-color: #242424;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 14px;
    padding: 4px;
    color: #fff;
  }
  
  .footer-wrap > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-wrap-heading {
    /* margin-bottom: 24px; */
    font-size: 24px;
  }
  
 
  /* .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  } */
  
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    align-items: center;
    margin: auto;
  }
  
  /* .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  } */
  
  .social-icons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 6px;
    margin-top: 44px;
  }
  .social-icon-link:hover{
color:#cfb840;
  }


  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    /* .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    } */
  
    /* .footer-link-wrapper {
      flex-direction: column;
    } */
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }